html
head
	title Analyze & Monitoring
style
	table, th, td {
		border: 1px solid black;
	}
body
	h1 분석 및 모니터링
	div
		h2 챗봇 분석
		table(style="width:100%")
			tr
				th Scenarioname
				th Blockname
				th Countofcall
				th Time
			each row in table1
				tr
					td= row[0]
					td= row[1]
					td= row[2]
					td= row[3]
	div
		h2 사용자 분석
		table(style="width:100%")
			tr
				th UserID
				th Scinarioname
				th Blockname
				th Countofcall
				th Time
			each row in table2
				tr
					td= row[0]
					td= row[1]
					td= row[2]
					td= row[3]
					td= row[4]
	div
		h2 챗봇 현황
		table(style="width:100%")
			tr
				th Input Utterance
				th NLU Result
				th Response Type
				th Response Text
				th Time
			each row in table3
				tr
					td= row[0]
					td= row[1]
					td= row[2]
					td= row[3]
					td= row[4]