doctype html
html
	head
		meta(charset='utf-8')
		title User utterance and response viewer
		link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway" rel="stylesheet")
		link(rel="stylesheet" href="/css/reset.css")
		link(rel="stylesheet" href="/css/style.css")
	body
		div#wrap
			div.wrap-left
				div._title
					h1 Chatbot Simulator
				div.sub
					ul
						each intention in intList
							if nowIntention==intention
								li.active
									a(href='/mode/#{intention}')= intention
							else
								li
									a(href='/mode/#{intention}')= intention
			div.wrap-right
				div.gnb
					a(href="/mode/#{nowIntention}" class="on") Manage Input
					a(href="/response/#{nowIntention}") Manage Response
					a(href="/rule/#{nowIntention}") Manage Rule
				div._contents
					div.box
						form(action='/input/#{nowIntention}' method='post' id='insertform')
							div.user-input
								label(for="la01") User Input
								input(type="text" id="la01" name="newUserInput")
								button(type="submit" class="button blue" value="la01" form="insertform") 추가
									i.icon-plus 
								button(type="submit" class="button gray" value="la01" form="deleteform") 삭제
									i.icon-trash 
						form(action='/delete/#{nowIntention}' method='post' id='deleteform')
							div.user-list
								if inputList
									ul
									each utt in inputList
										li
											input(type="checkbox" name="checked_utt" value=utt)
											label= utt
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="js/func.js")