html
head
	title Learning
body
	h1 Learning
	div
		include includes/tagtable.pug
	div
		h2 Morpheme analyzer test
		form(action='/analyze' method='post')
			text Sentence:
			if tagged
				input(type="text" name="sent" value=tagged)
			else
				input(type="text" name="sent" value="동해물과 백두산이 마르고 닳도록")
			input(type="submit" value="분석")
		text 결과:  
		text= tagged
	div
		h2 Morpheme recommandation
		form#viewrule(action='/learn' method='get')
		form#updaterule(action='/updaterule' method='post')
			select(form='viewrule' name='inte')
				each key in opt_key
					optgroup(label=key)
						each row in rec_tab
							if row[0] == key
								option(value=key+"_"+row[1])= row[1]
			input(type='submit' form='viewrule' value='선택')
			input(type='submit' form='updaterule' value='수정')
			br
			table
				tr
					th Scenario
					th Block
					th Current
					th Recommand
					th New
				tr
					each row in rec_tab
						if row[0] == scen & row[1] == blc
							td(name="scenario" form="updaterule")= row[0]
							td(name="block" form="updaterule")= row[1]
							td= row[2]
							td= row[3]
							td
								input(type="text" name="newrule" form="updaterule")