doctype html
html
	head
		meta(charset='utf-8')
		title User utterance and response viewer
		link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway" rel="stylesheet")
		link(rel="stylesheet" href="/css/reset.css")
		link(rel="stylesheet" href="/css/style.css")
	body
		div#wrap
			div.wrap-left
				div._title
					h1 Chatbot Simulator
				div.sub
					ul
						each domain in domList
							li
							a(href='/response/#{domain}')= domain
							if nowDomain==domain
								ul
									each intention in intList
										li
											a(href='/response/#{domain}/#{intention}')= intention
											if nowIntention==intention
												ul
													each status in stList
														li
															a(href='/response/#{domain}/#{intention}/#{status}')= status
			div.wrap-right
				div.gnb
					a(href="/mode/#{nowDomain}/#{nowIntention}/#{nowStatus}") Manage Input
					a(href="/response/#{nowDomain}/#{nowIntention}/#{nowStatus}" class="on") Manage Response
					a(href="/rule/#{nowDomain}/#{nowIntention}/#{nowStatus}") Manage Rule
				form(action='/updateres/#{nowDomain}/#{nowIntention}/#{nowStatus}' method='post' id='updateresform')
					div._contents
						div.box
							div(class="_top text-right")
								button(type="submit" class="button mint" form="updateresform") 수정
									i.icon-modify
									
							div(class="basic-table type02")
								table
									caption manage Response table
									thead
										tr
											th(scope="col") Type
											th(scope="col") Text
											th(scope="col") Object 1
											th(scope="col") Object 2
									tbody
										tr
											td
												textarea(name="newType", id="newType")= resType
											td
												textarea(name="newText", id="newText")= resText
											td
												textarea(name="newObj1", id="newObj1")= resObj1
											td
												textarea(name="newObj2", id="newObj2")= resObj2
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="js/func.js")