doctype html
html
	head
		meta(charset='utf-8')
		title User utterance and response viewer
		link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway" rel="stylesheet")
		link(rel="stylesheet" href="/css/reset.css")
		link(rel="stylesheet" href="/css/style.css")
	body
		div#wrap
			div.wrap-left
				div._title
					h1 Chatbot Simulator
				div.sub
					ul
						each intention in intList
							if nowIntention==intention
								li.active
									a(href='/mode/#{intention}')= intention
							else
								li
									a(href='/mode/#{intention}')= intention
			div.wrap-right
				div.gnb
					a(href="/mode/#{nowIntention}") Manage Input
					a(href="/response/#{nowIntention}") Manage Response
					a(href="/rule/#{nowIntention}" class="on") Manage Rule
				form(action='/updaterule/#{nowIntention}' method='post' id='updateruleform')
					div._contents
						div.box
							div(class="_top text-right")
								button(type="submit" class="button mint" form="updateruleform") 수정
									i.icon-modify
									
							div(class="basic-table type02")
								table
									caption manage Response table
									thead
										tr
											th(scope="col") Morph 1
											th(scope="col") Morph 2
											th(scope="col") Morph 3
									tbody
										tr
											td
												textarea(name="newmorph1", id="newmorph1")= morph1
											td
												textarea(name="newmorph2", id="newmorph2")= morph2
											td
												textarea(name="newmorph3", id="newmorph3")= morph3
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="js/func.js")